version: '3.8'

services:
  app:
    container_name: app
    build: .
    entrypoint: flask --app src.app.run run -h 0.0.0.0
    ports:
      - 5000:5000
    networks:
      - appnet
      - internet

  redis-db:
    container_name: redis-db
    image: redislabs/redismod
    ports:
      - 6379:6379
    networks:
      - appnet

  celery:
    container_name: celery
    build: .
    entrypoint: celery -A src.app.run.celery_app worker --loglevel=INFO -P threads
    depends_on:
      - redis-db
    networks:
      - appnet

  postgre-db:
    container_name: postgre-db
    image: postgres:13
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=sentiment_app
    ports:
      - 5432:5432
    networks:
      - appnet

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=noemail@noemail.com
      - PGADMIN_DEFAULT_PASSWORD=root
    ports:
      - 5050:80
    networks:
      - appnet
      - internet


networks:
  internet:
    name: internet
    driver: bridge
  appnet:
    name: appnet
    driver: bridge